*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    /* background-color: black; */
}
.navbar{
    /* width: 100%; */
    height: 99px;
    color: #ffffff;
    background-color: #0F1111;
    justify-content: space-evenly;
    /* display: flex; */
    
}
.nav-top{
    display: flex;
    align-items: center;
}
.nav-right{
    display: flex;
    width: 344.84px;
    height: 55px;
    padding: 3px 0 0 0;
    margin: 2px 0 0 0;
    /* align-items: center; */
}
.nav-left{
    height: 60px;
    display: flex;
    align-items: center;
    
}
.nav-bottom{
    height:39px;
    background-color: #232f3e;
}
.nav-logo{
    /* background-color: white;; */
    height: 50px;
    width: 113px;
    margin: 0 0 0 15px;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 690.52px;
    height: 40px;
    margin: 0 10px;
    padding: 10px 4px 10px 3px;
    
}
.nav-search .search-select{
    height: 40px;
    width: 46.33px;
    padding: 0 0 0 5px;
    background-color: #E6E6E6;
    border: none;;
    border-radius:5px 0 0 5px;
    text-align: center;
    /* z-index: 1; */
}
.nav-search .search-input{
    height: 22px;
    width: 584.19px;
    padding: 7px 10px 10px 0;
    border: none;
    
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius:0 4px 4px 0;
    width: 45px;
    background-color:#FEBD69;
    color: #0F1111;
    font-size: 1.2rem;
}
.flag-icon{
    height:45px ;
    width: 55.38px;
    display: flex;
    align-items: center;
    margin: 0 0 0 1px;
    padding: 0 9px 5px 9px;
}
.flag-icon .select-lan{
    background-color: #0F1111;
    color: #ffffff;
    border: none;
    width: 40.38px;
    height: 15px;
    font-weight: bold;
}

.flag-icon img{
    width: 24px;
    height: 18px;
    margin: 0 2px 1px 0;
}
.sign-in{
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    width: 113.52px;
    height: 40px;
    padding:0 9px 10px 9px;
}
.sign-in span{
    width: 70.41px;
    height: 14px;
    font-size: 0.6rem;
}
.sign-in .select-list{
    background-color: #0F1111;
    color: #ffffff;
    border: none;
    width: 113.52px;
    height: 15px;
    font-size: 0.8rem;
    font-weight: bold;
}
.logo{
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border:hover{
    border: 1.5px solid #ffffff;
}
.nav-address{
    margin: 5px 2px 5px 0;
    padding: 0 9px;
}
.add-first{
    color:#cccccc;
    font-size: 1rem;
    margin-left:15px ;
}
.add-second{
     margin-left: 5px;
}
.add-icon{
    display: flex;
    align-items: center;
}