* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    border: border-box;
    /* background-color: black; */
}

.navbar {
    /* width: 100%; */
    height: 99px;
    color: #ffffff;
    background-color: #131921;
    justify-content: space-evenly;
    /* display: flex; */

}

.nav-top {
    display: flex;
    align-items: center;
}

.nav-right-tools {
    display: flex;
    align-items: center;
    width: 344.84px;
    height: 55px;
    padding: 3px 0 0 0;
    margin: 2px 0 0 0;
    /* align-items: center; */
}
.nav-right{
    width: 399.84px;
    height: 60px;
}

.nav-left {
    height: 60px;
    display: flex;
    align-items: center;

}

.nav-bottom {
    height: 39px;
    background-color: #232f3e;
}

.nav-logo {
    /* background-color: white;; */
    height: 49px;
    width: 99px;
    margin: 1px 1px 1px 1px;
    padding: 1px 8px 0 6px;
}

.nav-global-add {
    width: 90.64px;
    height: 60px;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 690.52px;
    height: 40px;
    margin: 0 10px;
    padding: 10px 4px 10px 3px;

}

.nav-search .search-select {
    height: 40px;
    width: 46.33px;
    padding: 0 0 0 5px;
    background-color: #E6E6E6;
    border: none;
    ;
    border-radius: 5px 0 0 5px;
    text-align: center;
    /* z-index: 1; */
}

.nav-search .search-input {
    height: 22px;
    width: 584.19px;
    padding: 7px 10px 10px 0;
    border: none;

}

i.fa-solid.fa-location-dot {
    width: 15px;
    height: 18px;
    margin: 19px 0 0 0;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 0 4px 4px 0;
    width: 45px;
    background-color: #FEBD69;
    color: #0F1111;
    font-size: 1.2rem;
}

.flag-icon {
    height: 45px;
    width: 55.38px;
    display: flex;
    align-items: last baseline;
    margin: 0 0 0 1px;
    padding: 0 9px 5px 9px;
}
.flag-icon .flag-item{
    width: 55.38px;
    height: 33px;
}
.flag-icon .lan-tool{
    width: 54.38px;
    height: 19px;
    display: flex;
    margin: 0 0 0 1px;
}
kkk{
    width: 55.37px;
    height: 33px;
}

.flag-icon .select-lan {
    background-color:#131921;
    color: #ffffff;
    border: none;
    width: 40.38px;
    height: 15px;
    font-weight: bold;
}

.flag-icon img {
    width: 20px;
    height: 18px;
    margin: 0 2px 1px 0;
}

.sign-in {
    /* align-items:normal;
    justify-content: center; */
    /* text-align: center; */
    width: 113.52px;
    height: 40px;
    padding: 0 9px 10px 9px;
}

.sign-in span {
    padding: 0 0 0 5px;
    width: 70.41px;
    height: 14px;
    font-size: 0.8rem;
}

.sign-in .select-list {
    background-color: #131921;
    color: #ffffff;
    border: none;
    width: 113.52px;
    height: 15px;
    font-size: 0.8rem;
    font-weight: bold;
}

.item {
    display: flex;
}

.logo {
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 49px;
    width: 100%;
}

.border:hover {
    border: 1.5px solid #ffffff;
}

.nav-address {
    display: flex;
    align-items:center;
    width: 70.64px;
    height: 50px;
    margin: 5px 2px 5px 0;
    padding: 0 9px;
}

.add-first {
    color: #cccccc;
    width: 52.64px;
    height: 14px;
    /* font-size: 1rem; */
    /* margin-left:15px ; */
}

.add-second {
    width: 52.64px;
    height: 15px;
    padding: 0 0 1px 0;
    font-weight: bold;

}

.add-icon{
    display: flex;
    align-items:baseline;
    justify-content: baseline;
}
.orders{
  width: 58.95px;
  height: 40px;
  margin: 0 9px 10px 9px;
}
.orders span{
    width: 70.95px;
    height: 14px;
    margin: 9px 0 0 0; 
    font-size: 0.8rem;
}
.cart{
    display: flex;
    width: 66px;
    height: 39px;
    margin: 0 10px 0 3px;
    padding: 0 5px 11px;
}
.cart-item{
    /* font-size: 39px; */
    padding: 0 0 1px 0;
}
i.fa-solid.fa-cart-plus{ 
   font-size: 26px;
}
.cart span{
    width: 28px;
    height: 15px;
}